<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">Go to homepage!</a>
<a href="/exchange/">exchange</a>
<h1>Calculator!!!!</h1>

<form action="/result/">
    <input type="number" name="first_number">
    <select name="operation" id="">
        <option value="+">+</option>
        <option value="*">*</option>
        <option value="-">-</option>
        <option value="/">/</option>
    </select>
    <input type="number" name="second_number">
    <button>Calc</button>
</form>

<p>

</p>

<h1>Converter!!!!</h1>
<form action="/exchange/">
    <select name="currency" id="">
        <option value="USD">$</option>
        <option value="EUR"> euro</option>
    </select>
    Сколько ты хочешь купить ? <input type="number" name="count">
    <button>Calc</button>
</form>


<h1>{{ result }}</h1>
<!--<div>-->
<!--    Text<input type="text">-->
<!--</div>-->



<!--<div>-->
<!--    password<input type="password">-->
<!--</div>-->
<!--<div>-->
<!--    number<input type="number">-->
<!--</div>-->

<!--<div>-->
<!--    range<input type="range">-->
<!--</div>-->
<!--<div>-->
<!--    checkbox<input type="checkbox">-->
<!--</div>-->

<!--<div>-->
<!--    radio<input type="radio">-->
<!--</div>-->

<!--<div>-->
<!--    search<input type="search">-->
<!--</div>-->

<!--<div>-->
<!--    search<input type="submit">-->
<!--</div>-->
<!--<div>-->
<!--    select-->
<!--    <select name="" id="">-->

<!--        <option value="">value 1</option>-->
<!--        <option value="">value 2</option>-->
<!--        <option value="">value 3</option>-->
<!--        <option value="">value 4</option>-->
<!--    </select>-->
<!--</div>-->
</body>
</html>