<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/calculator/"> Calculator </a>
<a href="/exchange/">exchange</a>
<h2>
    Books length = {{ books|length }}
</h2>


</body>
</html>