{% extends 'index.html' %}


{% block content %}
# Emmet
<h1 style='text-align: center'>{{ author.front_name }}</h1>
<p class="alert alert-info">

    Дата рождения {{ author.date_birth }} -
    {% if author.date_dead %}
    {{author.date_dead}}
    {% else %}
    По текущую дату
    {% endif %}
</p>


<h3>Биография</h3>
<p class="alert">
    {{author.bio}}
</p>

<h3>Все книги данного автора</h3>

 <div class="row">
        <div class="col-md-6">
              <p class="alert alert-danger">Книг по акции - {{author.count_is_sale}} </p>
        </div>
         <div class="col-md-6">
              <p class="alert alert-primary">Книг без акции - {{author.count_is_not_sale}}</p>
        </div>
    </div>


<div class="row">

    {% for book in author.get_books %}
    <div class="col-md-4">
        <p class="">
            <a href="/book-detail/{{book.id}}/">{{ book.title }}</a>
        </p>
        <p class="">{{ book.get_genre_display }}</p>
        <p>наличие скидки {{ book.is_sale }} </p>
        <p>цена {{ book.price }} </p>
        <p>новая цена {{ book.new_price }} </p>
        <button class="btn btn-primary">Купить</button>
        <button class="btn btn-success"> Добавить в избранное</button>
    </div>
    {% endfor %}

    <p class="alert alert-primary"> Общая стоимость книг данного автора = {{ author.get_total_price }} $</p>
</div>

<!--<div class="row">-->
<!--    {% for book in books %}-->
<!--    <div class="col-md-4">-->
<!--        <p class="">-->
<!--            <a href="/book-detail/{{book.id}}/">{{ book.title }}</a>-->
<!--        </p>-->
<!--        <p class="">{{ book.get_genre_display }}</p>-->
<!--        <button class="btn btn-primary">Купить</button>-->
<!--        <button class="btn btn-success"> Добавить в избранное </button>-->
<!--    </div>-->

<!--    {% endfor %}-->
<!--</div>-->
{% endblock %}