{% extends 'index.html' %}

{% block content %}
<a href="/">назад ко всем книгам</a>
<h1>{{book.title}}</h1>
<h2>Автор -
    <a href="/author-detail/{{book.author.id}}/">{{ book.author.front_name }}
    </a>
</h2>
<div>
    <p>Description:</p>
    <p>{{ book.desctiption }}</p>
    <p id="price">Цена - {{book.price}}</p>
    {% if book.is_sale %}
    <div class="alert alert-primary" role="alert">
        Книга по акции! Новая цена - {{ book.new_price }}
    </div>
    {% else %}
    <p style="color: red;">Книга без акции! </p>
    {% endif %}

    <p>Жанр - {{ book.get_genre_display }}</p>
    <a class="btn btn-success">Купить</a>
    <a href="{% url 'client_app:add_to_session' pk=book.id %}" class="btn btn-info">Добавить в корзину</a>
</div>


{% endblock %}