{% extends 'users/cabinet/profile.html'  %}


{% block inside_cabinet %}

<h1>My articles!</h1>

<span id="loader" style="color: blue; font-size: 24px; display: none;">Deleting ...</span>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Заголовок</th>
        <th scope="col">Кол-во просмотров</th>
        <th scope="col">Кол-во комментов</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{article.title}}</td>
        <td>{{article.count_view}}</td>
        <td>
            <a href="">
                Просмотреть {{article.get_comments | length }}
            </a>
        </td>
        <td>
            <a class="c b a x delete-v1 js-delete"
               href="{% url 'client_app:delete_article' pk=article.id %}">Удалить</a>
            <a href="{% url 'client_app:update_article' pk=article.id %}">Изменить</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script>
    // alert('asdsad');
    $('.js-delete').click(function (e) {
        e.preventDefault();
        if (confirm('delete ?')) {
            var url = $(this).attr('href');
            var self = $(this);
            $('#loader').show();
            setTimeout(function () {
                $.ajax({
                    method: 'GET',
                    url: url
                }).done(function (response) {
                    if (response.delete) {
                        console.log("$(this).closest('tr') ", $(this));
                        self.closest('tr').hide();
                        $('#loader').hide();
                    }
                    console.log(response);
                })
            }, 1500)
        }


        // console.log('click by delete btn!');
    })
</script>
{% endblock extra_js %}