{% extends 'index.html' %}

{% block content %}
<h1>Личный кабинет {{ request.user.username }} !</h1>

<style>
    .column {
        display: flex;
        flex-direction: column;
    }
</style>

    <div>
        <input type="number" name="first">
        <input type="number" name="second">
        <button id="btn">Calc!</button>
        <span id="result"></span>
    </div>

    <script>
        var btn  = document.getElementById('btn');
        btn.addEventListener('click' , function(){
            var first  = parseFloat(document.querySelector('input[name="first"]').value);
            var second  = parseFloat(document.querySelector('input[name="second"]').value);
            let result_val = first  +second;
            document.getElementById('result').innerHTML = result_val;
        })
    </script>
<div class="row">
    <div class="col-md-3 column">
        <a class="btn {% if cabinet_tab == 'profile' %}btn-primary {% endif %}" href="{% url 'client_app:cabinet' %}">Настройки профиля</a>
        <a class="btn {% if cabinet_tab == 'write_post' %}btn-primary {% endif %}" href="{% url 'client_app:write_post' %}">Написать статью</a>
        <a class="btn {% if cabinet_tab == 'my_articles' %}btn-primary {% endif %} " href="{% url 'client_app:my_articles' %}">Все статьи</a>
        <a class="btn " href="">Мои рефераллы</a>
        <a class="btn " href="{% url 'client_app:stat' %}">Статистика</a>
        <a class="btn " href="{% url 'client_app:js-examples' %}">js-examples</a>
    </div>


    <div class="col-md-9">
        {% block inside_cabinet %}
            {% if saved %}
                 <p class="alert alert-success">Данные успешно сохранены!</p>
            {% endif %}
            <form action="." method="post">
                {% csrf_token %}
                {% for f in form %}
                <div>
                    <label for="">{{f.label}}</label>
                    {{f}}
                </div>
                {% endfor %}
                <button class="btn btn-success"> Save</button>
            </form>
        {% endblock %}
    </div>
</div>
{% endblock  %}