{% extends 'users/cabinet/profile.html' %}

{% block inside_cabinet %}
<h1>Stat</h1>
 <div id="container" style="width: 75%;">
    <canvas id="test"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>


    var config = {
      // type: 'pie',
      type: 'line',
      // type: 'bar',
      data: {
        datasets: [{
          data: {{ data|safe }},
        color: [
            'red'
        ],
          backgroundColor: [
            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
          label: 'stat test'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        //     scales: {
        //     yAxes: [{
        //         ticks: {
        //             beginAtZero: true
        //         }
        //     }]
        // },
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('test').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>


{% endblock %}