{% extends 'users/cabinet/profile.html' %}

{% block inside_cabinet %}
<h1>Write post!!!</h1>

{% if saved %}
<p class="alert alert-success"> Статью успешно сохранили! </p>
{% endif %}
<form action="." method="post">
    {% csrf_token %}
    {% for f in form %}
        <div>
            <label for="">{{ f.label }}</label>
            {{f}}
        </div>
    {% endfor %}
    <button class="btn btn-info"> Save  </button>
</form>

{% endblock %}