<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item {% if tab == 'home' %} active {% endif %}">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link  {% if tab == 'about' %} active {% endif %}" href="/about/">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  {% if tab == 'about' %} active {% endif %}" href="{% url 'client_app:index' %}">Examples 1</a>
            </li>
             <li class="nav-item">
                <a class="nav-link  " href="{% url 'client_app:articles' %}">Статьи</a>
            </li>
        </ul>
    </div>
    <a href="{% url 'client_app:busket' %}" class="btn btn-info">Корзина {{request.session.books_bucket | length }}</a> |
    {% if not request.user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'client_app:login' %}">Вход</a> |
    <a class="btn btn-primary" href="{% url 'client_app:register' %}">Регистрация</a>
    {% else %}
    <a class="btn btn-danger" href="{% url 'client_app:logout' %}">Log out({{ request.user.username }})</a>
    |
    <a class="btn btn-danger" href="{% url 'client_app:cabinet' %}">Кабинет</a>
    {% endif %}
</nav>
