{% extends 'index.html' %}


{% block content %}
<h1>All articles!</h1>
<div class="row">
    {% for article in articles %}
    <div class="col-md-3">
        <p>{{article.title}}</p>
        <p><a href="">Автор статьи {{article.author.get_type_view}}</a></p>
        <a  class="btn btn-danger" href="{% url 'client_app:article-detail' pk=article.id  %}"> Прочитать </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}