{% extends 'index.html' %}


{% block content %}
<h1>Js examples!</h1>
<!--<div>-->
<!--    <button id="btn">click me!!!</button>-->
<!--</div>-->
<!--<div id="id_">-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi consectetur consequuntur dicta ducimus,-->
<!--    eaque est hic laboriosam magnam pariatur provident quaerat quas quod similique tempore, veniam vero? Fugiat,-->
<!--    voluptates.-->
<!--</div>-->

<!--<span id="timeout">0</span>-->

<!--<span id="output"></span>-->
<!--<form id="form" action="">-->
<!--    <input type="text" name="first">-->
<!--    <input type="text" name="second">-->
<!--    <input type="text" name="second">-->
<!--    <input type="text" name="second">-->
<!--    <input type="text" name="second">-->
<!--    <input type="text" name="second">-->
<!--    <input type="text" name="second">-->
<!--    <button>Calc!</button>-->
<!--</form>-->
<h2>AJAX EXAMPLES!!!</h2>
<p class="alert alert-info" style="display: none;">Loading .... </p>
<div>
    <button id="send_request">Send request to python!</button>
</div>
<div id="output_authors">

</div>


{% endblock content %}


{% block extra_js %}
<script>

    /* block comment
    *
    *
    *
    *
    * comment!
    *
    *  */
    var a = 234;
    var b = 0.5;
    var b1 = true;
    var b2 = false;
    var u = undefined;
    var u1 = null;
    var s = 'sajd kasjdasd';
    var arr = [1, 23, true, 'asdsad'];
    var dict = {
        'a': 34,
        'b': {
            'c': 56
        }
    }

    // console.log(a, b, b1, u, u1, arr, dict, dict['b']);

    // alert('Hello js!');
    /*
    var res  = confirm('y or n?');
    if (res == true){
        alert('its TRUE!!!!');
    } else{
        alert('its FALSE!!!');
    }*/
    // var str = prompt('string >>>>', 'default value');
    // console.log(str, 'str');

    /*
    function functionName(a, b) {
        for(var i=0; i < 10; i++){
            console.log('i =' , i);
        }
        console.log('ii ==' , i);
        console.log(arguments);
        console.log('function called!' , a , b);
    }

    functionName(1,2,3,4,5,true,'asdasdasd')
    */

    var btn = document.getElementById('btn');
    var block_text = document.getElementById('id_');
    var form = document.getElementById('form');
    var output = document.getElementById('output');

    btn.addEventListener('click', function () {
        console.log(block_text.innerHTML)
        if (block_text.style.display == 'none') {
            block_text.style.display = 'block';
        } else {
            block_text.style.display = 'none';
        }
    })

    block_text.addEventListener('click', function () {
        console.log('clicked by text!!!!!');
    })


    setInterval(function () {
        var timeout = document.getElementById('timeout');
        var timeout_value = +timeout.innerHTML;
        timeout.innerHTML = timeout_value + 1;
    }, 500)

    form.addEventListener('submit', function (ev) {
        ev.preventDefault();
        var this_form = ev.target;
        var inputs = this_form.querySelectorAll('input');
        var sum = 0;
        for (var i = 0; i < inputs.length; i += 1) {
            if (inputs[i].value) {
                sum += parseInt(inputs[i].value);
            }
            console.log(inputs[i].value)
        }
        output.innerHTML = sum;
        console.log(sum);
    })

</script>


<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

<script>
    var user_id = '{{ request.user.id }}';
    // ajax
    console.log('user_id ', user_id);
    var x = new XMLHttpRequest();
    console.log($);
    $('#send_request').click(function () {
        if (user_id === 'None') {
            alert('Need auth!')
            return;
        }
        $('.alert-info').show();
        setTimeout(function () {
            $.ajax({
                method: 'GET',
                url: '/user/ajax-examples/',
                data: {
                    'a': 123,
                    'b': true
                }
            }).done(function (x) {
                var global_template = '';
                for (var i = 0; i < x.authors.length; i++) {
                    var template_ = `<p> ${x.authors[i].name}  ${x.authors[i].surname}</p>`;
                    global_template += template_;
                }
                $('#output_authors').html(global_template);
                $('.alert-info').hide();
            })
        }, 2500)

    });
    console.log();
</script>
{% endblock extra_js %}