{% extends 'index.html' %}

{% block content %}
<h1>Users page!!</h1>

<p>{{ 'lower'|upper }}</p>
<p>{{ 'asdsdASFASfSвфывфывЫВФЫЫВ'|lower }}</p>

{% if success %}
<p class="alert alert-success">
    Мы сохранили данные!
</p>
{% endif %}
<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label }}
        {{ field }}
    </div>
    {% endfor %}
    <button class="btn btn-primary">Save Book!</button>
</form>
{%  endblock %}